html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#mapa-container {
  width: 80vw;
  height: 100vh;
  overflow: hidden;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  border: none;
  margin: 0;
  touch-action: none;
  background: #ffffff;
  z-index: 1;
}
#mapa {
  width: 100%;
  height: 100%;
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.2s;
  display: block;
  
  transform-origin: 0 0;
  transform: scale(1);
  transition: transform 0.05s linear;
  will-change: transform;
}

#mapa:active {
  cursor: grabbing;
}



.blinking_territorio {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.selecionado_territorio {
  /* stroke: ; */
  stroke: "black";
  stroke-width: 1;
}


#hud-container {
  display: flex;
  flex-direction: column;
}