html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#mapa-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  margin: 0;
  touch-action: none;
  background: #1e1e1e;
  z-index: 1;
}
#mapa {
  width: 100vw;
  height: 100vh;
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.2s;
  display: block;
}
#mapa:active {
  cursor: grabbing;
}
